<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
           layout:decorator="Layout">
<head>
<meta charset="utf-8"/>
<title>Saisie des etudiants</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css"
 th:href="@{/css/bootstrap.min.css}"/>
 <link rel="stylesheet" href="../static/css/style.css" type="text/css"
 th:href="@{/css/style.css}"/>
</head>
<body>
   <div layout:fragment="content">
   <div class="container">
   
      <div class="col-md-6 col-ms-6 col-md-offset-3 col-xs-12 spacer">
          <div class="panel panel-default">
           <div class="panel-heading">Saisie d'une etudiant</div>
           <div class="panel-body">
             <form th:action="@{SaveEtudiant}" method="POST" th:object="${etudiant}" enctype="multipart/form-data">
                 <div class="form-group">
                     <label for="name" class="control-label">Nom:</label>
                     <input type="text" th:field="*{nom}" class="form-control"/>
                     <span th:errors="*{nom}" class="red"></span>
                 </div>
                 <div class="form-group">
                     <label for="email" class="control-label">Email:</label>
                     <input type="text" th:field="*{email}" class="form-control"/>
                     <span th:errors="*{email}" class="red"></span>
                 </div>
                 <div class="form-group">
                     <label for="dateNaissance" class="control-label">Date Naissance:</label>
                     <input type="date" th:field="*{dateNaissance}" class="form-control"/>
                     <span th:errors="*{dateNaissance}" class="red"></span>
                 </div>
                 <div class="form-group">
                     <label for="photo" class="control-label">Photo:</label>
                     <input type="file" name="picture" class="form-control"/>
                     <span th:errors="*{photo}"class="red"></span>
                 </div>
                 <div>
                     <button class="btn btn-primary">Save</button>
                 </div>
             </form>
           </div>
       </div>
      </div> 
    
   </div>
 </div>
</body>
</html>